{% load humanize %}
{% load statuspage_extras %}

{% for incident in incidents %}
{% ifchanged incident.occurred.date %}
<h3>{{ incident.occurred|date:"DATE_FORMAT" }}</h3>
{% endifchanged %}
<div class="panel panel-default">
    <div class="panel-heading">
        <span class="label label-{{ incident.status|incident_status_class:"" }}">{{ incident.get_status_display }}</span>
        {% if incident.service %}
        <span class="label label-default">{{ incident.service.name }}</span>
        {% endif %}
        <strong>{{ incident.name }}</strong>
        <br/><small class="timeinfo" title="{{ incident.occurred|date:"r" }}">occurred {{ incident.occurred|naturaltime }}</small>
    </div>
    <div class="panel-body">
        {{ incident.description }}
    </div>
    <div class="panel-footer">
        <small class="timeinfo" title="{{ incident.modified|date:"r" }}">last update {{ incident.modified|naturaltime }}</small>
    </div>
</div>
{% endfor %}
