{% extends "statusboard/base.html" %}

{% load statusboard %}
{% load i18n %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h1>{% trans "Service groups" %}</h1>
    </div>
    <div class="servicegroups">
        {% for g in servicegroups.position_sorted %}
        <div class="panel panel-default servicegroup">
            <div class="panel-heading">
                <strong>{{ g.name }}</strong>
            </div>
            <ul class="list-group">
                {% for s in g.services.all %}
                <li class="list-group-item">{{ s.name }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endfor %}
    </div>
    <div class="orphan-services">
        <div class="page-header">
            <h2>Services without group</h2>
        </div>
        <ul class="list-group">
            {% for s in orphan_services %}
            <li class="list-group-item">{{ s.name }}</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}

