{% extends "statusboard/base.html" %}

{% load statusboard_extras %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h1>Delete an incident</h1>
    </div>
    <form class="form-horizontal" role="form" method="post" action="">
        {% csrf_token %}
        <p class="col-sm-10">Are you sure you want to delete the incident "{{ incident }}"?</p>
        <div class="form-group">
            <div class="col-sm-2">
                <input type="submit" class="btn btn-primary" value="Confirm">
            </div>
        </div>
    </form>
</div>
{% endblock %}
