{% extends "statusboard/base.html" %}

{% load i18n %}

{% block content %}
<main class="form-signin w-100 m-auto">
    {% if form.errors %}
    <div class="alert alert-danger" role="alert">
        {% blocktrans %}
        Your username and password didn't match. Please try again.
        {% endblocktrans %}
    </div>
    {% endif %}

    {% if next %}
    {% if user.is_authenticated %}
    <div class="alert alert-danger" role="danger">
        {% blocktrans %}
        Your account doesn't have access to this page. To proceed,
        please login with an account that has access.
        {% endblocktrans %}
    </div>
    {% else %}
    <div class="alert alert-danger" role="danger">
        {% blocktrans %}
        Please login to see this page.
        {% endblocktrans %}
    </div>
    {% endif %}
    {% endif %}

    <form role="form" method="post" action="{% url "statusboard:login" %}">
        <h1 class="h3 mb-3 fw-normal">
            {% blocktrans %}
            Please sign in
            {% endblocktrans %}
        </h1>
        {% csrf_token %}
        <div class="form-floating">
            <input class="form-control" type="text" id="{{ form.username.id_for_label }}" name="{{ form.username.name }}">
            <label for="{{ form.username.id_for_label }}">{% trans "Username" %}</label>
        </div>
        <div class="form-floating">
            <input class="form-control" type="password" id="{{ form.password.id_for_label }}" name="{{ form.password.name }}">
            <label for="{{ form.password.id_for_label }}">{% trans "Password" %}</label>
        </div>
        <button class="btn btn-lg btn-primary w-100 mt-3" type="submit">{% trans "Sign in" %}</button>
        <input type="hidden" name="next" value="{{ next }}" />
    </form>
</main>
{% endblock %}
