{% extends "statuspage/base.html" %}

{% load humanize %}
{% load statuspage_extras %}

{% block content %}
<div class="container">
    <div class="alert alert-{{ worst_service.status|service_status_class:"" }}" role="alert">
        {{ worst_service.status|service_status_summary_text:"" }}
    </div>
    <h1>Status Page</h1>
    {% for grp in statusgroups %}
    <div class="servicegroup">
        <div class="page-header servicegroup-header">
            <h2 class="clearfix">
                <small class="glyphicon {{ grp.worst_service.status|service_status_glyphicon:"" }}" aria-hidden="true"></small>
                <a data-toggle="collapse" href="#servicegroup-content-{{grp.pk}}">{{ grp.name }}</a>
                <!-- <small class="label label-{{ grp.worst_service.status|service_status_class:"" }} pull-right">{{ grp.worst_service.get_status_display }}</small> -->
            </h2>
        </div>
        <div id="servicegroup-content-{{grp.pk}}" class="servicegroup-content collapse in" data-toggle="collapse">
            <ul class="list-group">
                {% for srv in grp.services.all %}
                <li class="list-group-item clearfix">
                    {% if srv.href %}
                    <a href="{{ srv.href }}">{{ srv.name }}</a>
                    {% else %}
                    <span>{{ srv.name }}</span>
                    {% endif %}
                    <span class="label label-{{ srv.status|service_status_class:"" }} pull-right">{{ srv.get_status_display }}</span>
                    <br/><small>last update {{ srv.modified|naturaltime }}</small>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endfor %}
    <div class="incidents">
        <div id="page-header">
            <h2>Incidents</h2>
        </div>
        {% for incident in incidents %}
        {% ifchanged incident.occurred.date %}
        <h3>{{ incident.occurred|date:"DATE_FORMAT" }}</h3>
        {% endifchanged %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="label label-{{ incident.status|incident_status_class:"" }}">{{ incident.get_status_display }}</span>
                {% if incident.service %}
                <span class="label label-default">{{ incident.service.name }}</span>
                {% endif %}
                <strong>{{ incident.name }}</strong>
                <br/><small>occurred {{ incident.occurred|naturaltime }}</small>
            </div>
            <div class="panel-body">
                {{ incident.description }}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
